//LAUNCHES COMPONENT
.payload-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .patch {
    max-width: 100px;
    height: auto;
    width: 100%;
    padding: 20px 0px;
  }
  .launch-image {
    height: auto;
    width: 100%;
    max-width: 1200px;
    min-width: 200px;
    padding: 0px 20px;
  }
  .spacex-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    max-width: 800px;
    p {
      text-align: left;
      padding: 10px 10px;
    }
  }
}
