.landing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  //   padding: 50px;
  .title {
    padding: 50px 0px 0px 0px;
  }
  .landing-photo {
    max-width: 800px;
    width: 100%;
    min-width: 200px;
    padding: 50px;
  }
}
